.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
}

.header-navigation a,
.header-navigation button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #fff;
    color: #ff9800;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-navigation a:hover,
.header-navigation button:hover {
    background-color: #e65100;
    color: #fff;
}

.header-navigation span {
    margin-right: 10px;
    font-weight: bold;
}

/* Стилі для кнопки "Додати в кошик" */
.add-to-cart-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-danger:hover {
    background-color: #c82333;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem; /* Збільшений шрифт */

}

.btn-success:hover {
    background-color: #218838;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    text-decoration: none;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem; /* Збільшений шрифт */
}

.btn-warning:hover {
    background-color: #e0a800;
    color: black;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item-image {
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-button {
    padding: 5px 10px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}

.quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */


.btn-primary {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #218838;
}

.cart-summary {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-summary ul {
    list-style-type: none;
    padding: 0;
}

.cart-summary ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-summary ul li img {
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-summary p {
    font-weight: bold;
    font-size: 1.2em;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
